<%= button_to "登録", new_task_path, method: :get %>
<table class="table table-borderd table-striped">
  <thead>
    <tr>
      <th>氏名</th>
      <th>品種</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.task_act %>
        <tr>
          <td><%= link_to task.req_user_name, task  %></td>
          <td><%= task.req_valiety  %></td>
          <td>乾燥中</td>
          <td>調整中</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
