<center><h1>Manu#manu</h1></center>

<div class="row"><!-- 横並びにしている要素を囲う要素 -->
  <div class="bg-success">
    <div class="col-sm-12 col-md-4">
      <center>
        <button type="button" class="btn btn-default btn-lg">
          <h1>受入</h1>
        </button>
      </center>
    </div>
    <div class="col-sm-12 col-md-4">
      <center>
        <button type="button" class="btn btn-default btn-lg">
          <h1>乾燥</h1>
        </button>
      </center>
    </div>
    <div class="col-sm-12 col-md-4">
      <center>
        <button type="button" class="btn btn-default btn-lg">
          <h1>調整</h1>
        </button>
      </center>
    </div>
  </div>
</div>
