<div class="row">
  <center>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-default btn-lg" onclick="location.href='<%= new_task_path %>'">
          <h1>受入</h1>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-default btn-lg" onclick="location.href='<%= dries_path %>'">
          <h1>乾燥</h1>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-default btn-lg" onclick="location.href='<%= adjs_path %>'">
          <h1>調整</h1>
        </button>
    </div>
  </center>
</div>
