<h1>Manu#manu</h1>
<div class="container">
  <h1>Bootstrapの練習</h1>
  <div class="row"><!-- 横並びにしている要素を囲う要素 -->
    <div class="col-xs-12 col-sm-6 col-md-4 bg-red">横に並ぶ</div><!-- 横並びにする要素 -->
    <div class="col-xs-12 col-sm-6 col-md-4 bg-orange">横に並ぶ</div><!-- 横並びにする要素 -->
    <div class="col-xs-12 col-sm-6 col-md-4 bg-green">横に並ぶ</div><!-- 横並びにする要素 -->
  </div>
</div>
